body {
    font-family: Arial, sans-serif;
    background-color: #fffcdf;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* This will ensure the content is centered in the viewport */
}

.container {
    display: flex;
    /* This will align the board and the right column side by side */
    align-items: center;
    /* This will vertically align them in case they have different heights */
}

#board {
    border: 2px solid #333;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 20px; /* Added space between the board and the menu */
}

#rightcol {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 200px;
    /* Removed margin-left and added width for consistency */
}

#message, #turn {
    padding: 10px;
    margin: 10px 0;
    background-color: #99c2c2;
    border: 1px solid #d9d9d9;
    text-align: center;
    font-size: 16px;
}

input[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="button"]:hover {
    background-color: #45a049;
}

canvas:focus {
    outline: none;
}
